:root {
    --blanco: #f5f5f5;
    --rojo: #e66767;
    --enfasis: #30475E;
    --negro: #190004;
}

.nombre {
    padding: 20px;
}

.nombre h1 {
    color: var(--blanco);
    font-weight: 900;
}

.nombre h2 {
    color: var(--blanco);
    font-weight: 300;
}

main {
    padding-top: 20px;
    background-size: cover;
    background-image: url('https://i.ibb.co/6Hq9s6w/Fondo2.jpg');
    min-height: 100vh;
}

/* ----------CARD---------- */
.presentacion {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Ubuntu", sans-serif;
    background-color: rgba(25, 25, 25, 0.5);
    padding: 10px 10px;
}

.tarjeta {
    min-width: 380px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    min-height: max-content;
}

.tarjeta-header {
    padding: 40px 30px;
    background-color: var(--enfasis);
}

.pic {
    display: inline-block;
    padding: 5px;
    background: linear-gradient(130deg, #74b9ff, var(--rojo));
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 4s linear infinite;
}

.pic img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.tarjeta-nombre {
    color: var(--blanco);
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1em;
}

.desc {
    font-size: 18px;
    color: #e66767;
}

.redes {
    font-size: 16px;
    color: var(--blanco);
    margin-top: 10px;
}

.iconos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.iconos a {
    color: var(--blanco);
    width: 56px;
    font-size: 30px;
    transform: .3s linear;
    text-decoration: none;
}

.iconos a:hover {
    color: var(--rojo);
}

@keyframes animated-gradient {
    25% {
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: left top;
    }
    100% {
        background-position: right top;
    }
}

.tarjeta-foot {
    font-size: 1.4em;
    color: var(--blanco);
    border-radius: 8px;
    margin: auto 20px;
}
/* ----------CARD---------- */

.subtitulo {
    font-size: 2em;
    font-weight: 500;
    color: var(--blanco);
}

.proyecto {
    background-color: rgba(78, 78, 78, 0.5);
    /* background-color: rgba(25, 25, 25, 0.5); */
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.pantallazo {
    max-width: 500px;
    max-height: 400px;
    margin: auto 30px;
}

.proyecto p {
    font-size: 1.3em;
    color: var(--blanco);
}

.proyecto h3, .proyecto h4 {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    color: var(--blanco);
    font-weight: 600;
}

.titulo-proyecto {
    text-align: center;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logo {
    max-width: 80px;
}